/* Margin helpers */
.marginT--xxs {
	margin-top: 5px;
}

.marginR--xxs {
	margin-right: 5px;
}

.marginB--xxs {
	margin-bottom: 5px;
}

.marginL--xxs {
	margin-left: 5px;
}

.marginT--xs {
	margin-top: 10px;
}

.marginR--xs {
	margin-right: 10px;
}

.marginB--xs {
	margin-bottom: 10px;
}

.marginL--xs {
	margin-left: 10px;
}

.marginT--sm {
	margin-top: 15px;
}

.marginR--sm {
	margin-right: 15px;
}

.marginB--sm {
	margin-bottom: 15px;
}

.marginL--sm {
	margin-left: 15px;
}

.marginT--md {
	margin-top: 20px;
}

.marginR--md {
	margin-right: 20px;
}

.marginB--md {
	margin-bottom: 20px;
}

.marginL--md {
	margin-left: 20px;
}

.marginT--lg {
	margin-top: 25px;
}

.marginR--lg {
	margin-right: 25px;
}

.marginB--lg {
	margin-bottom: 25px;
}

.marginL--lg {
	margin-left: 25px;
}

.marginT--xxl {
	margin-top: 30px;
}

.marginR--xxl {
	margin-right: 30px;
}

.marginB--xxl {
	margin-bottom: 30px;
}

.marginL--xxl {
	margin-left: 30px;
}

.marginT--xxxl {
	margin-top: 35px;
}

.noMargin {
	margin: 0;
}

.noMarginT {
	margin-top: 0;
}

.noMarginB {
	margin-bottom: 0;
}