/* Base styles */
hr {
	border: 2px solid #666;
}

body {
	background: orange;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
}

a {
	font-size: 16px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
