/* Controls styles */
/* Colors related variables */
/* Numbers related variables */
.controls {
  display: flex; }

.controlAction {
  composes: paddingALL--sm noMargin from '../../styles/shared-styles/shared-styles.css';
  min-width: 40px;
  text-align: center;
  background: #fff;
  color: #8affdf;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 5px;
  cursor: pointer; }
